<div class="container feature-blog">
    <img src="<%= imageUrl %>" class="feature-blog-image" alt="">
    <h1><%= postTitle %></h1>
    <h3><%= postContent %></h3>
    <div class="row author-div">
        <div class="col">
            <img src="" class="author-pic" alt="">
        </div>
        <div class="col">
            <p><%= postAuthor %></p>
            <p><%= publishedDate %></p>
        </div>
    </div>
</div>