

<div class="container feature-blog">
    <h1>Feature</h1>
    <img src="<%= post.cover.url %>" class="feature-blog-image" alt=" ">
    <a href="/blog/<%= post.slug %>" class="feature-link title-link">
        <h1 class="feature-title">
            <%= post.title %>
        </h1>
        <h4 class="feature-subtitle">
            <%= post.subtitle %>
        </h4>
    </a>


    <div class="author-div">
        <div class="author-image-div">
            <!-- <img src="/images/jpeg/profile.jpg" class="author-pic" alt=""> -->
        </div>
        <div class="author-name-div">
            <p><%= post.author.name %></p>
            <p><%= post.date %></p>
        </div>
    </div>
</div>