<%- include("partials/header"); %>
<%- include("partials/navbar"); %>
      
<% feature.forEach(post => { %>
      <div class="container feature-blog">
            <h1>Feature</h1>
            <img src="<%= post.cover.url %>" class="feature-blog-image" alt=" ">
            <a href="/blog/<%= post.slug %>" class="feature-link title-link">
                  <h1 class="feature-title">
                        <%= post.title %>
                  </h1>
                  <h4 class="feature-subtitle">
                        <%= post.subtitle %>
                  </h4>
            </a>   
            <div class="author-div">
                  <div class="author-image-div">
                        <!-- <img src="/images/jpeg/profile.jpg" class="author-pic" alt=""> -->
                  </div>
                  <div class="author-name-div">
                        <p><%= post.author.name %></p>
                        <p><%= post.date %></p>
                  </div>
            </div>
      </div>
<% }); %>

<hr class="blog-hr">

<% otherPosts.forEach(post => {  %>
      <div class="container other-posts-section">
            <div class="other-post-div row">
                  <div class="col-8">
                        <a href="/blog/<%= post.slug %>">
                              <h1 class="other-title"><%= post.title %></h1> 
                              <h4 class="other-subtitle"><%= post.subtitle %></h4>
                        </a>
                        <div class="author-div">
                              <div class="author-image-div">
                                    <!-- <img src="/images/jpeg/profile.jpg" class="author-pic" alt=""> -->
                              </div>
                              <div class="author-name-div">
                                    <p class="other-meta"><%= post.author.name %></p>
                                    <p class="other-meta"><%= post.date %></p>
                              </div>
                        </div>
                  </div>
                  <div class="col-4">
                        <a href="">
                              <img src="<%= post.cover.url %>" alt="" class="other-post-image">
                        </a>
                  </div>
            </div>  
      </div>    
<% }); %>

    
           
<%- include("partials/footer"); %>

