<%- include("partials/header"); %>
<%- include("partials/navbar"); %>

<div class="container blog">
      <div class="jumbotron">
            Welcome to the blog
      </div>
      
<% feature.forEach(post => { %>
      <div class="container feature-blog">
            <a href="/blog/<%= post.slug %>">
                  <img src="<%= post.cover.url %>" class="feature-blog-image" alt="Feature Blog Image">
            </a>
            <a href="/blog/<%= post.slug %>" class="feature-link title-link">
                  <h1 class="feature-title">
                        <%= post.title %>
                  </h1>
                  <h4 class="feature-subtitle">
                        <%= post.subtitle %>
                  </h4>
            </a>   
            <div class="author-div">
                  <div class="author-image-div">
                        <!-- <img src="/images/jpeg/profile.jpg" class="author-pic" alt=""> -->
                  </div>
                  <div class="author-name-div">
                        <p><%= post.author.name %></p>
                        <p><%= post.date %></p>
                  </div>
            </div>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox add-this"></div>
      </div>
<% }); %>

<div class="container">
      <hr class="blog-hr">
</div>

<div class="other-posts-section">
<% otherPosts.forEach(post => {  %>
            <div class="other-post-div container row">
                  <div class="col-8">
                        <a href="/blog/<%= post.slug %>">
                              <h1 class="other-title"><%= post.title %></h1> 
                              <%  if (!post.subtitle) { %>
                                    <% var content = post.content; %>
                                    <% var excerpt = content.substring(0, 120); %>

                                    <h4 class="other-subtitle"><%- excerpt %>...</h4>
                                    <%  } else if (post.subtitle) { %>
                                    <h4 class="other-subtitle"><%= post.subtitle %></h4>
                                    <%  } %>
                        </a>
                        <div class="author-div">
                              <div class="author-image-div">
                                    <!-- <img src="/images/jpeg/profile.jpg" class="author-pic" alt=""> -->
                              </div>
                              <div class="author-name-div">
                                    <p class="other-meta"><%= post.author.name %></p>
                                    <p class="other-meta"><%= post.date %></p>
                              </div>
                        </div>
                  </div>
                  <div class="col-4 other-post-image-div">
                        <a href="/blog/<%= post.slug %>">
                              <img src="<%= post.cover.url %>" alt="Blog Post Image" class="other-post-image">
                        </a>
                        <!-- Go to www.addthis.com/dashboard to customize your tools -->
                        <div class="addthis_inline_share_toolbox add-this"></div>
                  </div>
            </div>  
      <% }); %>
      </div>    
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f74916723bdfac8"></script>

           
<%- include("partials/footer"); %>

