<%- include("partials/header"); %>
<%- include("partials/navbar"); %>
<%- include("partials/hero"); %>

<div class="container-fluid bio-section">
    <div class="container">
        <h1>Welcome the Code Nguyen.</h1>
        <%- bio.bio %>   
    </div>
</div>

<div class="container-fluid skills-section">
    <%- include("partials/skills/skills"); %>
</div>

<div class="container-fluid portfolio-section">
    <h1>Check out my latest work.</h1>
    <div class="container">
        <%- include("partials/portfolio/piece"); %>
    </div>
    <a href="/portfolio">
        <button class="btn btn-lg btn-info read-more-posts-btn">
            See Full Portfolio
        </button>
    </a>
</div>

<!-- Testimonial Section = include("partials/testimonial"); -->

<%- include("partials/cta"); %>

<div class="container-fluid blog-section">
    <h1>The Blog</h1>
    <h3>about <em>Life</em>, the <i>Universe</i>, &amp; <strong>Everything</strong>.</h3>
    <div class="container blog-container-h">
        <%- include("partials/blog/post.ejs"); %>
    </div>
    <a href="/blog">
        <button class="btn btn-lg btn-info read-more-posts-btn">
            See All Posts
        </button>
    </a>
</div>

<%- include("partials/footer"); %>