<%- include("partials/header"); %>
<%- include("partials/navbar"); %>
<%- include("partials/hero"); %>

<div class="container-fluid bio-section">
    <div class="container">
        <h1>Welcome the Code Nguyen.</h1>
        <p>
            I was once a part of the Empire. For 6 years I was working as a business analyst and product owner for Fortune 500 companies using end-to-end agile product management processes unaware of opportunities that existed beyond my imperial duties.
        </p>
        <p>  
            Things are different now. I’ve seen the other side of the bubble and it’s changed me. I am a self-taught JavaScript web developer and a freelancer who specializes in Node.JS, Express.JS, React.JS, and MongoDB. I build blogs, portfolios, and web based applications for small businesses and entrepreneurs alike. 
        </p>
        <p>
            On Code Nguyen you’ll be able to see my portfolio pieces and read blog posts about my experiences using some of my favorite programming languages, frameworks, design tools and dev tools. You’ll also find a bit more than just your typical coding topics.
        </p>
    </div>
</div>

<div class="container-fluid skills-section">
    <%- include("partials/skills/skills"); %>
</div>

<div class="container-fluid portfolio-section">
    <h1>Check out my latest work.</h1>
    <div class="container">
        <%- include("partials/portfolio/piece"); %>
    </div>
    <a href="/portfolio">
        <button class="btn btn-lg btn-info read-more-posts-btn">
            See Full Portfolio
        </button>
    </a>
</div>

<!-- Testimonial Section = include("partials/testimonial"); -->

<%- include("partials/cta"); %>

<div class="container-fluid blog-section">
    <h1>The Blog</h1>
    <h3>about <em>Life</em>, the <i>Universe</i>, &amp; <strong>Everything</strong>.</h3>
    <div class="container blog-container-h">
        <%- include("partials/blog/post.ejs"); %>
    </div>
    <a href="/blog">
        <button class="btn btn-lg btn-info read-more-posts-btn">
            See All Posts
        </button>
    </a>
</div>

<%- include("partials/footer"); %>