<%- include("partials/header"); %>
<%- include("partials/navbar"); %>

<% portfolios.forEach(piece => { %>
    <div class="piece-container container">
        <div class="container">
            <h1 class="client-name"><%= piece.client %></h1>
            <h2 class="client-industry"><%= piece.industry %></h2>
        </div>


        <!-- <h4>Project type</h4> -->
        <div class="piece-details-container container">
            <div class="piece-details-row container row">
                <div class="col-6-md piece-col">
                    <h2>Design Files</h2>
                <%  piece.designFiles.forEach(file => { %>
                    <div class="mockup-div">
                        <a href="<%= file.url %>" download>
                            <img src="<%= file.url %>" alt="Download Mock-Up Files" class="mockup-image">
                        </a>
                    </div>                  
                    <button class="btn btn-lg btn-info piece-btn">
                        <a href="<%= file.url %>" download>
                        Download Mock-Up
                        </a>
                    </button>
                <%  }) %>
                    <div>
                        <h2>Wireframe</h2>
                        <div>
                        </div>                        
                        <button class="btn btn-lg btn-info piece-btn">
                            <a href="<%= piece.figma %>" target="_blank">
                            View on Figma
                            </a>
                        </button>                          
                    </div>
                    <div>
                        <h2>URL</h2>
                        <button class="btn btn-lg btn-info piece-btn">
                            <a href="<%= piece.url %>" target="_blank">
                            Go to site
                            </a>
                        </button>
                    </div>
                </div>
                <div class="col-6-md piece-col">
                    <h2>Languages Used</h2>
                    <ul class="list-group">
                   <% piece.skills.forEach(skill => { %>
                        <% skill.name; %>
                        <% skillsLogos.forEach(logo => { %>
                            <% if (logo.name === skill.name) { %>
                                <li class="list-group-item">
                                    <img src="<%= logo.logo %>" alt="<%= logo.name %>" class="logo">
                                    <%= skill.name %>
                                </li>
                            <% } %>
                        <% }); %>
                    <%  }); %>
                    </ul>
                    
                    <button class="btn btn-lg btn-info piece-btn">
                        <a href="<%= piece.github %>" target="_blank">
                        View code on Github
                        </a>
                    </button>
                    
                    
                </div>
            </div>
        </div>

        <div class="container piece-description">
            <h2>Description</h2>
            <%- piece.description %>
        </div>
        
        <button class="btn btn-lg btn-info portfolio-btn">
            <a href="/portfolio">
            Back to Portfolio
            </a>
        </button>
      
    </div>
<% }); %>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f74916723bdfac8"></script>


<%- include("partials/footer"); %>