<%- include("partials/header"); %>
<%- include("partials/navbar"); %>


<div class="container portfolio-section">
    <div class="jumbotron">
        Welcome to my portfolio.
    </div>
    <div class="container">
        <%- include("partials/portfolio/piece.ejs"); %>
    </div>
</div>


<%- include("partials/testimonial"); %>
<%- include("partials/cta"); %>


<%- include("partials/footer"); %>