<%- include("partials/header"); %>
<%- include("partials/navbar"); %>

<% post.forEach(post => { %>
    <div class="container post-container">    
        <h1 class="post-title">
            <%= post.title %>
        </h1>
        <h4 class="post-subtitle">
            <%= post.subtitle %>
        </h4>
        <div class="post-author-div">
            <div class="post-author-image">
                <!-- <img src="/images/jpeg/profile.jpg" class="author-pic" alt=""> -->
            </div>
            <div class="post-author-meta">
                <p><%= post.author.name %></p>
                <p><%= post.date %></p>
            </div>
        </div>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox add-this"></div>
    
        <img src="<%= post.cover.url %>" class="post-image" alt="">
        
        
        <!-- After marked-down, use unescaped ejs tag -->
        <div class="post-content-div">
            <%- post.content %>  
        </div>
    </div>
<% }); %>

<div class="">
    <a href="/blog">
        <button class="btn btn-lg btn-info back-btn">Back To The Blog</button>
    </a>
</div>




<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_relatedposts_inline"></div>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://www-codenguyen-com.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f74916723bdfac8"></script>


<%- include("partials/footer"); %>