<%- include("partials/header"); %>
<%- include("partials/navbar"); %>

<% post.forEach(post => { %>
    <div class="container post-container">    
        <h1 class="post-title">
            <%= post.title %>
        </h1>
        <h4 class="post-subtitle">
            <%= post.subtitle %>
        </h4>
        <div class="post-author-div">
            <div class="post-author-image">
                <!-- <img src="/images/jpeg/profile.jpg" class="author-pic" alt=""> -->
            </div>
            <div class="post-author-meta">
                <p><%= post.author.name %></p>
                <p><%= post.date %></p>
            </div>
        </div>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <div class="addthis_inline_share_toolbox add-this"></div>
    
        <img src="<%= post.cover.url %>" class="post-image" alt="">
        
        
        <!-- After marked-down, use unescaped ejs tag -->
        <div class="post-content-div">
            <%- post.content %>  
        </div>
    </div>
<% }); %>


    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <div class="addthis_relatedposts_inline"></div>
            

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f74916723bdfac8"></script>


<%- include("partials/footer"); %>